.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #071426;
  padding: 10px;
  margin: 0;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.home-button {
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  margin-left: 260px;
  margin-right: auto;
  color: rgb(165, 180, 252);
}

.logo img {
  max-height: 60px;
  margin-left: 450px;
}
